<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{layoutData.title}} | {{layoutData.projectTitle}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="robots" content="{{layoutData.meta.robots}}">
  <meta name="description" content="{{layoutData.meta.description}}">
  <meta name="author" content="{{layoutData.meta.author}}">
  <link rel="icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="/static/css/main.min.css" rel="stylesheet">
</head>
<body>

  <div id="app" class="app">

    {{> header }}

    <main aria-label="content">

      {{{body}}}

    </main>

  {{> footer }}

  </div> <!-- /.app -->

</body>
</html>
